{
//  "presets": ["es2015"],
  "plugins": ["transform-async-to-generator"],
//  "plugins": ["syntax-async-functions","transform-regenerator"],
//  "plugins": ["fast-async"],
  "ignore": [
    "./node_modules/**/*.js"
  ]
}