<html>
<h4 class="alert-heading">Утверждено предложение на копе #{{place.id}}</h4>
<p>
  Автор: {{owner.fullName}}
</p>
<pre>
  {{value}}
</pre>
<p>
  <a href="http://kopnik.org/?body=Kopa:{{place.id}}">Открыть</a>
</p>
</html>
