<html>
<h4 class="alert-heading">Вы зарегистрировались</h4>
<!--<p>Ваша регистрация будет обработана в ближайшее время.</p>-->
<p>
  Согласно правилам kopnik.org от вас потребуется подтвердить паспортные данные по Skype или Viber или другим
  способом передачи видео на ваш выбор.
  Или вы можете предоставить паспорт заверителю при личной встрече, если вы опасаетесь или у вас есть сомнения.
</p>
<p class="font-weight-bold" style="font-weight: bold">
  Процедура заверения нужна для того чтобы предотвратить электронную регистрацию одним человеком нескольких учетных
  записей и голосование на копах несколькими голосами.
  Просим отнестись с пониманием.
</p>
<p>
  Вы можете сделать это прямо сейчас или в другое удобное время.
  Для этого свяжитесь с заверителем по вашему региону.
  Процедура занимает 3-5 минут. Предворительно приготовьте паспорт и убедитесь, что у вас на телефоне (компьютере)
  работает видеокамера.
</p>
<div class="card">
  <div class="card-block">
    <h4 class="card-title">Заверителем по вашему региону выбран копник</h4>
    <p>{{verifier.surname}} {{verifier.name}} {{verifier.patronymic}}</p>
    <p>email: <a href="mailto:{{verifier.email}}">{{verifier.email}}</a></p>
    <p>skype: <a href="skype:{{verifier.skype}}?call">{{verifier.skype}}</a></p>
  </div>
</div>
<strong>Номер вашей регистрации #{{id}}.</strong>
</html>
