<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
        integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
</head>
<body>
<h1>HTML из шаблона</h1>
<p>
  текущее время: {{now}}
</p>
<div class="card">
  <div class="card-header">header</div>
  <div class="card-block">block</div>
</div>
</body>
</html>
